In [10]:
def normalisation(li):
    a=min(li)
    b=max(li)
    res=[]
    for i in li:
        n=(i-a)/(b-a)
        res.append(n)
    return res
li=[2,3,3,4,4,5,6]
print(normalisation(li))

[0.0, 0.25, 0.25, 0.5, 0.5, 0.75, 1.0]

In [13]:
def variance(li):
    mu = mean(li)
    n = len(li)
    res = 0
    for i in li:
        temp = i - mu
        temp = temp*temp
        res+=temp
    return res/n

def mean(li):
    n=len(li)
    sum=0
    for i in li:
        sum+=i
    return sum/n

def standardization(li):
    new=[]
    for i in li:
        res=(i-mean(li))/(variance(li)**0.5)
        new.append(res)
    return new

li=[2,3,4,5,6,7,8]
standardization(li)

[-1.5, -1.0, -0.5, 0.0, 0.5, 1.0, 1.5]

In [20]:
import pandas
file=pandas.read_csv('/home/admin1/Documents/data.csv')
print(file)
df=pandas.read_csv("/home/admin1/Documents/data.csv" ,usecols=['name','cgpa'])
print(df)

       name  usn  cgpa  marks
0   nikitha  189  8.81     90
1       anu  177  7.96     72
2     madhu  181  9.00     88
3    laisha  190  6.50     98
4  harshini  160  9.20     73
5  lakshana  133  8.12     95
6      john  165  5.40     44
7     minnu  190  8.98     69
8     kavya  130  5.10     55
       name  cgpa
0   nikitha  8.81
1       anu  7.96
2     madhu  9.00
3    laisha  6.50
4  harshini  9.20
5  lakshana  8.12
6      john  5.40
7     minnu  8.98
8     kavya  5.10